:root {
  --bodyBackground: #f4f5f7;
  --headerInputBackground: #fff;
  --headerColor: #397095;
  --headerColorBright: #4a92c3;
  --fontWhite: #dddddd;
  --fontOrange: rgb(239, 112, 63);
  --headerButtonBackground: #4a92c3;
  --navMainBorderRadius: 8px;
  --headerSearchPlaceholderColor: black;
  --sliderLeftBackground: #fff;
  --slidebarLeftBackgroundHover: #eff6f8;
  --slidebarLeftFontColor: #4383af;
  --wykop-pFontColor: #fff;
  --countBorder: #4383af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bodyBackground);
  color: var(--fontWhite);
  font-family: "Open Sans", sans-serif;
}
