:root {
  --bodyBackground: #f1f1f3;
  --headerInputBackground: #fff;
  --headerColor: #397095;
  --headerColorBright: #4a92c3;
  --fontWhite: #dddddd;
  --fontOrange: rgb(239, 112, 63);
  --headerButtonBackground: #4a92c3;
  --navMainBorderRadius: 8px;
  --headerSearchPlaceholderColor: black;
  --sliderLeftBackground: #fff;
  --slidebarLeftBackgroundHover: #eff6f8;
  --slidebarLeftFontColor: #4383af;
  --wykop-pFontColor: #fff;
  --countBorder: #4383af;
  --buttonCountBackground: #4383af;
  --buttonFontColor: #fff;
  --articleTextHeaderFontColor: #4383af;
  --arcticleRightHeaderFontColor: #4383af;
  --articlesRightHeaderFontColor: #1d1d1f;
  --articlesMenuH1: #1d1d1f;
  --articesMenuPFontColor: #8aa8b5;
  --nightModeFontColor: #4383af;
  --articleTextFontColor: #1d1d1f;
  --articleFooterFontColor: #8aa8b5;
  --hitsHeaderFontColor: #1d1d1f;
  --hitsHeaderTextFontColor: #4383af;
  --hitsContainerBottomColor: #c6c6c6;
  --articleBodyBorderColor: #ececec;
  --articleBodyAsideBackgroundColor: #fff;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bodyBackground);
  color: var(--fontWhite);
  font-family: "Open Sans", sans-serif;
}
