:root {
  --black: #000;
  --headerColor: #3c3c3c;
  --headerColorBright: #565656;
  --fontWhite: #dddddd;
  --headerButtonBackground: rgba(255, 255, 255, 0.1);
  --navMainBorderRadius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--fontWhite);
  font-family: "Open Sans", sans-serif;
}

/* MAIN */

main {
  display: flex;
}

/* SLIDEBAR LEFT */
.slidebar-left {
  display: flex;
  justify-content: center;
  background-color: #1d1d1f;
  margin: 4px;
  width: 250px;
  height: 100vh;
  border-radius: 6px;
}

.slidebar-left.short {
  width: 50px;
}

.slidebar-top-icons {
  display: flex;
}
.slidebar-left-content-large.off {
  display: none;
}
.slidebar-left-content-small {
  display: none;
}
.slidebar-left-content-small.active {
  display: block;
}

.fire-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 4px;
}

.fa-star,
.fa-eye,
.fa-fire {
  text-align: center;
  padding: 6px;
  font-size: 18px;
  width: 70px;
  height: 35px;
  border: 0.5px solid var(--headerColorBright);
  border-radius: 6px;
  color: var(--headerColorBright);
  transition: color 0.25s;
}

.fa-star:hover,
.fa-eye:hover,
.fa-fire:hover {
  color: var(--fontWhite);
}

.slidebar-left-nav {
  padding: 4px;
}
.slidebar-left-nav a p {
  padding: 0 10px;
}
.slidebar-left-main-ul a {
  display: flex;
  padding: 6px 10px;
  text-decoration: none;
  color: var(--fontWhite);
  font-size: 16px;
  background-color: var(--headerColor);
  border-radius: 8px;
}
.slidebar-left-nav a img {
  color: white;
  width: 22px;
}

.slidebar-left-main-ul {
  list-style: none;
  border-top: 1px solid var(--headerColor);
  padding-top: 12px;
}

.slidebar-left-second-ul a {
  display: flex;
  padding: 6px 10px;
  text-decoration: none;
  color: var(--fontWhite);
  font-size: 16px;
  border-radius: 8px;
}

.slidebar-left-second-ul {
  list-style: none;
  border-top: 1px solid var(--headerColor);
  padding-top: 12px;
  margin-top: 10px;
}

.slidebar-left-second-ul li {
  padding: 4px 0;
}
.icon-text {
  font-size: 12px;
}

/* HEADER */

.header {
  background-color: var(--headerColor);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;

  height: 48px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 50%;
  height: 40px;
  padding: 12px;
  padding-left: 8px;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding: 12px;
  padding-right: 8px;
  height: 48px;
}

.header-button {
  width: 46px;
  height: 34px;
  background-color: var(--headerButtonBackground);
  border-radius: 6px;
  border: 1px solid rgb(46, 46, 46);
  color: var(--fontWhite);
  display: flex;
  justify-content: center;
}

.header-button:hover {
  cursor: pointer;
}

.header-button img {
  width: 50%;
}

.header-logo {
  width: 144px;
  padding: 4px;
}

.header-logo img {
  width: 100%;
}

.main-menu-ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.main-menu-li {
  padding: 0.5rem 1rem;
  text-align: center;
  transition: background-color 0.25s ease, border-radius 0.25s ease;
}
.main-menu-li:hover {
  cursor: pointer;
  background-color: var(--headerColorBright);
  border-radius: var(--navMainBorderRadius);
}

.main-menu-li-wykopalisko {
  position: relative;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s ease, border-radius 0.25s ease;
}
.main-menu-li-wykopalisko:hover {
  cursor: pointer;
  background-color: var(--headerColorBright);
  border-radius: var(--navMainBorderRadius);
}

.main-menu-li-mikroblog {
  padding: 0.5rem 1rem;
  transition: background-color 0.25s ease, border-radius 0.25s ease;
}

.main-menu-li-mikroblog:hover {
  cursor: pointer;
  background-color: var(--headerColorBright);
  border-radius: var(--navMainBorderRadius);
}

.wykopalisko-number {
  position: absolute;
  top: -2px;
  left: 5.5rem;
  font-size: 12px;
  font-weight: 400;
  color: var(--fontWhite);
  background-color: var(--headerColorBright);
  border-radius: 5px;
  padding: 1px 4px;
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 1px 4px;
}

.icons {
  transition: background-color 0.25s ease, border-radius 0.25s ease;
}

.icons:hover {
  cursor: pointer;
  background-color: var(--headerColorBright);
  border-radius: var(--navMainBorderRadius);
}

.icons img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  align-items: center;
  background-color: var(--black);
  border: 1px solid rgb(44, 44, 44);
  border-radius: 6px;
  width: 260px;
  height: 40px;
}

.form-search {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.input-search {
  background-color: var(--black);
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #dedeff;
}

.input-search::placeholder {
  color: #def5ff;
}
