:root {
  --black: #000;
  --headerColor: #3c3c3c;
  --fontWhite: #dddddd;
  --headerButtonBackground: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--fontWhite);
}

/* HEADER */

.header {
  background-color: var(--headerColor);
  display: flex;
  width: 100%;
}

.header-left {
  /* background-color: green; */
  display: flex;
  align-items: center;
  width: 50%;
  padding: 2px;
  padding-left: 8px;
}
.header-right {
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding: 2px;
  padding-right: 8px;
}

.header-button {
  width: 46px;
  height: 34px;
  background-color: var(--headerButtonBackground);
  border-radius: 6px;
  border: 0;
  color: var(--fontWhite);
  display: flex;
  justify-content: center;
}

.header-button:hover {
  cursor: pointer;
}

.header-button img {
  width: 50%;
}

.header-logo {
  padding: 0.5rem;
}

.main-menu-ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu-ul li {
  padding: 0.75rem;
}

.slidebar-left {
  background-color: #1d1d1f;
  width: 200px;
  height: 100vh;
}
