:root {
  --black: #000;
  --headerColor: #3c3c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

.header {
  background-color: var(--headerColor);
  width: 100%;
  height: 80px;
}

.slidebar-left {
  background-color: #1d1d1f;
  width: 200px;
  height: 100vh;
}
