:root {
  --bodyBackground: #000;
  --headerInputBackground: #000;
  --headerColor: #3c3c3c;
  --headerColorBright: #565656;
  --fontWhite: #dddddd;
  --fontOrange: rgb(239, 112, 63);
  --headerButtonBackground: rgba(255, 255, 255, 0.1);
  --navMainBorderRadius: 8px;
  --headerSearchPlaceholderColor: #def5ff;
  --sliderLeftBackground: #1d1d1f;
  --slidebarLeftBackgroundHover: #2d2d2f;
  --slidebarLeftFontColor: #dddddd;
  --wykop-pFontColor: #dddddd;
  --articles-menu-font-color: #929292;
  --countBorder: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bodyBackground);
  color: var(--fontWhite);
  font-family: "Open Sans", sans-serif;
}
