@media (max-width: 1280px) {
  .slidebar-left {
    display: none;
  }
}

@media (max-width: 1024px) {
  .articles-main {
    width: 100%;
  }
  .slidebar-right {
    display: none;
  }
  .main-menu-ul {
    display: none;
  }
  .icons {
    display: none;
  }
  .user-nav {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
  }
  .icon-user {
    width: 28px;
    height: 28px;
  }
  .icon-user img {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .search {
    display: none;
  }
  .search-button {
    display: block;
    margin: 20px;
    background-color: #ffffff00;
    border: 0;
  }
  .search-button:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .hit-article:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 640px) {
    .article-left-aside {
      display: none;
    }
    .article-bottom-aside {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 120px;
    }
    .article-text {
      padding: 0 10px;
      max-width: 100%;
    }
    .articles-main {
      margin: 0;
    }
    .article-photo {
      flex-shrink: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      /* max-width: 250px;
      max-height: 160px; */
      padding: 0 10px;
      max-width: 35%;
    }
  }
}
